<!-- <!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Internet Speed Test</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
     <div class="container">
          <h1 class="text-center">
               Internet Speed Tester 
          </h1>
          <button onclick="speedtest()" class="btn btn-danger btn-lg btn-block">
               <span class="glyphicon glyphicon-stats"></span> Check Speed
           </button> 
          <div id="result" class="mt-3">
               <table class='table table-striped'>
                    <thead>
                         <tr>
                              <th>Server</th>
                              <th>Ping</th>
                              <th>Download Speed</th>
                              <th>Upload Speed</th>
                         </tr>
                    </thead>
                    <tbody>
                    </tbody>
               </table>
          </div>
     </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
     function speedtest(){
          $.ajax({
               method:'GET',
               url:'/getspeed',
               success:function(data){
                    console.log(data);
                    // Check if the data is valid
                    if (data.speed) {
                        // Parse the JSON data
                        var result = JSON.parse(data.speed);
                        // Create a table row to display the result
                        var row = "<tr><td>" + result.server.host + " (" + result.server.name + ")" + "</td><td>" + result.ping.latency + " ms" + "</td><td>" + result.download.speedMbps + " Mbps" + "</td><td>" + result.upload.speedMbps + " Mbps" + "</td></tr>";
                        // Add the row to the table body
                        $("table tbody").html(row);
                    } else {
                        $("table tbody").html("<tr><td colspan='4'>Unable to get speed test results</td></tr>");
                    }
               }
          })
     }
</script>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Internet Speed Test</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <style>
          body {
               background-color: #f8f9fa;
          }

          .container {
               margin-top: 50px;
          }

          h1 {
               font-size: 40px;
               font-weight: bold;
               color: #dc3545;
               margin-bottom: 30px;
          }

          .btn-danger {
               background-color: #dc3545;
               border-color: #dc3545;
          }

          .btn-danger:hover {
               background-color: #c82333;
               border-color: #bd2130;
          }

          th {
               text-align: center;
               font-weight: bold;
          }

          td {
               text-align: center;
          }

          tr:nth-child(even) {
               background-color: #f2f2f2;
          }
     </style>
</head>
<body>
     <div class="container">
          <h1 class="text-center">
               Internet Speed Tester 
          </h1>
          <button onclick="speedtest()" class="btn btn-danger btn-lg btn-block">
               <span class="glyphicon glyphicon-stats"></span> Check Speed
          </button> 
          <div id="result" class="mt-3">
               <table class='table table-striped'>
                    <thead>
                         <tr>
                              <th>Server</th>
                              <th>Ping</th>
                              <th>Download Speed</th>
                              <th>Upload Speed</th>
                         </tr>
                    </thead>
                    <tbody>
                    </tbody>
               </table>
          </div>
     </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
     function speedtest(){
          $.ajax({
               method:'GET',
               url:'/getspeed',
               success:function(data){
                    console.log(data);
                    // Check if the data is valid
                    if (data.speed) {
                        // Parse the JSON data
                        var result = JSON.parse(data.speed);
                        // Create a table row to display the result
                        var row = "<tr><td>" + result.server.host + " (" + result.server.name + ")" + "</td><td>" + result.ping.latency + " ms" + "</td><td>" + result.download.speedMbps + " Mbps" + "</td><td>" + result.upload.speedMbps + " Mbps" + "</td></tr>";
                        // Add the row to the table body
                        $("table tbody").html(row);
                    } else {
                        $("table tbody").html("<tr><td colspan='4'>Unable to get speed test results</td></tr>");
                    }
               }
          })
     }
</script>
</html>

